# Introduction to Marketing Mix Modeling in Python

- https://towardsdatascience.com/introduction-to-marketing-mix-modeling-in-python-d0dd81f4e794

<br>

***

<br>

## Import Libraries & Data

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, TimeSeriesSplit

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/Garve/datasets/4576d323bf2b66c906d5130d686245ad205505cf/mmm.csv',
                parse_dates=['Date'],
                 index_col='Date'
                )
df.head()

                 TV    Radio  Banners     Sales
Date
2018-01-07  13528.1     0.00     0.00   9779.80
2018-01-14      0.0  5349.65  2218.93  13245.19
2018-01-21      0.0  4235.86  2046.96  12022.66
2018-01-28      0.0  3562.21     0.00   8846.95
2018-02-04      0.0     0.00  2187.29   9797.07

- How much of the 15,904.11 € sales in the week ending on 2021–10–10 (see table above) was generated by TV advertising? And how much by radio and web banners? And what is the baseline, i.e. the number of sales we would have had without any advertising?

- compute ROIs and optimize spending

- restrict ourselves to additive models

In [8]:
# Split X & Y
X = df.drop(columns=['Sales'])
y = df['Sales']

<br>

***

<br>

## Run Baseline Model

Use time series split over k-fold cross validation

In [9]:
lr = LinearRegression()
print(cross_val_score(lr, X, y, cv=TimeSeriesSplit()))

[0.69594303 0.69302285 0.66850729 0.78807363 0.73512387]

Coefficients & intercept

In [10]:
lr.fit(X, y) # refit the model with the complete dataset
print('Coefficients:', lr.coef_)
print('Intercept:', lr.intercept_)

Coefficients: [0.35968382 0.48833246 1.2159193 ]
Intercept: 6678.396933606161

Predictions for a single week

In [ ]:
print(lr.predict(([[11543.58, 4615.35, 2518.88]])))